@font-face {
  font-family: kariaReguliar;
  src: url("../fonts/karia/Karla-Regular.ttf"); }
@font-face {
  font-family: kariaBold;
  src: url("../fonts/karia/Karla-Bold.ttf"); }
@font-face {
  font-family: kariaitali;
  src: url("../fonts/karia/Karla-Italic.ttf"); }
@font-face {
  font-family: poppinsSemiBold;
  src: url("../fonts/poppins/Poppins-SemiBold.otf"); }
@font-face {
  font-family: poppinsRegular;
  src: url("../fonts/poppins/Poppins-Regular.otf"); }
@font-face {
  font-family: poppinsMedium;
  src: url("../fonts/poppins/Poppins-Medium.otf"); }
/*...Fonts...*/
/*...Colors...*/
/*...sizes...*/
/*EXTEND */
.grid, #oilsBlock, #subscribe_section > div, #subscribe_section > div .socIcons, footer .nav_cotent_footer, footer .instagram_img {
  display: grid; }

.m_auto, .overlay div {
  margin: 0 auto; }

.t-align {
  text-align: center; }

/*btn*/
.sameBTN {
  width: 11rem;
  height: 3.5rem; }

/*mixin*/
/*class*/
.margin_auto {
  margin: 0 auto; }

body {
  background: #f8f8f8; }
  body a {
    text-decoration: none; }
  body ul li {
    list-style: none; }

.aac {
  width: 150%; }
  @media only screen and (max-width: 1650px) {
    .aac {
      width: 120%; } }
  @media only screen and (max-width: 1300px) {
    .aac {
      width: 100%; } }

/*class for parallax off*/
/*..........header............*/
* {
  margin: 0;
  padding: 0; }

/* Icon 1 */
#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  border: none;
  width: 43px;
  outline: none;
  height: 25px;
  /* margin: 50px auto;*/
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 59%;
  background: #5f5a58;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon1 span:nth-child(1) {
  top: 7px; }

#nav-icon1 span:nth-child(2) {
  top: 13px; }

#nav-icon1 span:nth-child(3) {
  top: 20px; }

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg); }

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); }

/*my styles head*/
header {
  border-bottom: solid 1px #c8c8c8; }
  header nav {
    background: #fafafa; }

#headNav {
  padding-bottom: 34px;
  padding-top: 28px;
  -webkit-transition: all 1s linear;
  transition: all 1s linear; }

#headMenu {
  margin-left: 3%;
  margin-top: 18px; }
  #headMenu li a {
    margin: 0;
    padding: 0;
    padding-left: 23px;
    padding-right: 23px;
    font-family: "kariaReguliar";
    font-size: 16px;
    color: #262a2c;
    font-weight: 400; }
  #headMenu li a:hover {
    color: #2b9100; }

#navbarNav_2 {
  width: 261px;
  position: absolute;
  right: 0; }
  @media only screen and (max-width: 991px) {
    #navbarNav_2 {
      position: inherit; } }
  #navbarNav_2 li a {
    margin: 0;
    padding: 0;
    padding-left: 23px;
    padding-right: 23px;
    font-family: "kariaReguliar";
    font-size: 16px;
    color: #262a2c;
    font-weight: 400; }
  #navbarNav_2 li a:hover {
    color: #2b9100; }

.headerIconeDiv {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: auto;
  -webkit-transition: all .3s linear;
  transition: all .3s linear; }
  .headerIconeDiv img {
    display: block;
    margin: 0 auto;
    margin-top: 30%; }
  .headerIconeDiv:hover {
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 11px -2px #686161;
            box-shadow: 0px 0px 11px -2px #686161; }

/*  ...................C O N T E N T...................*/
/*.... slider ....*/
#demo {
  margin-top: 133px; }

.slider_content {
  width: 1148px;
  margin: 0 auto;
  position: relative;
    /*@extend .grid;
    grid-template-columns: auto auto;

    grid-column-gap: 5%;*/ }
  @media only screen and (max-width: 1200px) {
    .slider_content {
      width: 992px; } }
  @media only screen and (max-width: 992px) {
    .slider_content {
      width: 576px; } }
  @media only screen and (max-width: 576px) {
    .slider_content {
      width: 350px; } }
  .slider_content .img_slider_div img {
    width: 100%; }
  .slider_content .text_slider_div {
    position: absolute;
    top: 0;
    right: 187px;
    padding-top: 130px; }
    .slider_content .text_slider_div h2 {
      font-family: "poppinsRegular";
      font-size: 30px;
      color: #58595b;
      line-height: 40px; }
    .slider_content .text_slider_div p {
      font-family: "poppinsMedium";
      font-size: 24px;
      color: #3e6c01; }
    @media only screen and (max-width: 1200px) {
      .slider_content .text_slider_div {
        right: 123px; }
        .slider_content .text_slider_div h2 {
          font-size: 25px;
          line-height: 32px; }
        .slider_content .text_slider_div p {
          font-size: 20px; } }
    @media only screen and (max-width: 992px) {
      .slider_content .text_slider_div {
        right: 65px;
        padding-top: 54px; }
        .slider_content .text_slider_div h2 {
          font-size: 16px;
          line-height: 17px; }
        .slider_content .text_slider_div p {
          font-size: 15px;
          margin-bottom: 4px; } }
    @media only screen and (max-width: 576px) {
      .slider_content .text_slider_div {
        right: 19px;
        padding-top: 27px; }
        .slider_content .text_slider_div h2 {
          font-size: 12px;
          line-height: 10px; }
        .slider_content .text_slider_div p {
          font-size: 11px;
          margin-bottom: 1px; } }
  .slider_content button {
    width: 172px;
    height: 49px;
    font-size: 22px; }
    @media only screen and (max-width: 1200px) {
      .slider_content button {
        width: 142px;
        height: 40px;
        font-size: 18px;
        letter-spacing: 2px; } }
    @media only screen and (max-width: 992px) {
      .slider_content button {
        width: 91px;
        height: 30px;
        font-size: 12px;
        padding-top: 5px; } }
    @media only screen and (max-width: 576px) {
      .slider_content button {
        width: 70px;
        height: 24px;
        font-size: 12px;
        padding-top: 2px; } }

/*slder buttons*/
#slider_buttons_block {
  width: 1148px;
  margin: 0 auto;
  position: relative; }
  @media only screen and (max-width: 1200px) {
    #slider_buttons_block {
      width: 992px; } }
  @media only screen and (max-width: 992px) {
    #slider_buttons_block {
      width: 768px; } }
  @media only screen and (max-width: 756px) {
    #slider_buttons_block {
      width: 576px; } }
  @media only screen and (max-width: 576px) {
    #slider_buttons_block {
      width: 350px; } }

.slider_btn {
  width: 60px;
  height: 60px;
  background-color: #f0f0f0;
  border-radius: 50%;
  position: static;
  position: absolute;
  top: -222px;
  font-size: 27px;
  color: #b2acac;
  -webkit-box-shadow: 1px 1px 9px 0px #cfc4c4;
          box-shadow: 1px 1px 9px 0px #cfc4c4;
  -webkit-transition: all .3s linear;
  transition: all .3s linear; }
  .slider_btn:hover {
    background: #2c9146;
    color: #ffffff; }
  @media only screen and (max-width: 1200px) {
    .slider_btn {
      width: 40px;
      height: 40px;
      font-size: 20px; } }
  @media only screen and (max-width: 756px) {
    .slider_btn {
      width: 30px;
      height: 30px;
      font-size: 16px; } }
  @media only screen and (max-width: 576px) {
    .slider_btn {
      width: 20px;
      height: 20px;
      font-size: 13px; } }

.slider_btn_left {
  left: 3%; }
  @media only screen and (max-width: 1200px) {
    .slider_btn_left {
      left: 5%; } }
  @media only screen and (max-width: 992px) {
    .slider_btn_left {
      left: 16%;
      top: -118px; } }
  @media only screen and (max-width: 756px) {
    .slider_btn_left {
      left: 7%; } }
  @media only screen and (max-width: 576px) {
    .slider_btn_left {
      top: -60px;
      left: 4%; } }

.slider_btn_right {
  right: 3%; }
  @media only screen and (max-width: 1200px) {
    .slider_btn_right {
      right: 5%; } }
  @media only screen and (max-width: 992px) {
    .slider_btn_right {
      right: 16%;
      top: -118px; } }
  @media only screen and (max-width: 756px) {
    .slider_btn_right {
      right: 7%; } }
  @media only screen and (max-width: 576px) {
    .slider_btn_right {
      top: -60px;
      right: 4%; } }

/*...................Category...............*/
#shoping_block {
  width: 1170px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 0 auto; }
  @media only screen and (max-width: 1200px) {
    #shoping_block {
      width: 991px; } }
  @media only screen and (max-width: 992px) {
    #shoping_block {
      width: 768px; } }
  @media only screen and (max-width: 805px) {
    #shoping_block {
      width: 576px; } }
  @media only screen and (max-width: 600px) {
    #shoping_block {
      width: 450px; } }
  @media only screen and (max-width: 450px) {
    #shoping_block {
      grid-template-columns: 1fr;
      width: 320px;
      padding-left: 8px;
      padding-right: 8px; } }

#shopContainer {
  margin-top: 70px; }

#sidebar {
  margin-top: 45px; }

/*category styles  site bar*/
.category ul li a {
  font-family: "poppinsRegular";
  font-size: 16px;
  color: #b7b5b5;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  line-height: 20px; }
  .category ul li a:hover {
    color: #2c9146; }
  @media only screen and (max-width: 805px) {
    .category ul li a {
      font-size: 14px;
      line-height: 13px; } }

.price {
  padding: .5rem 1rem; }
  .price h2 {
    margin-top: 52px;
    font-family: "poppinsRegular";
    font-size: 18px;
    color: #747373;
    margin-bottom: 25px; }
    @media only screen and (max-width: 805px) {
      .price h2 {
        font-size: 16px; } }
  .price p {
    margin-top: 12px;
    font-family: "poppinsMedium";
    font-size: 20px;
    color: #b7b5b5; }
    @media only screen and (max-width: 805px) {
      .price p {
        font-size: 16px; } }

/*.....priceSlide.........r*/
#shopContainer {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto; }

.slider-handle {
  background: #ffffff;
  border: solid 1px #7c7c7c; }

#GC .slider-selection {
  background: #428041; }

#pric_min_and_max span:nth-child(2) {
  margin-left: 50%; }

@media only screen and (max-width: 805px) {
  #ex2 {
    width: 100%; } }
/*Filtr By Size   <<styles>>*/
#filtr_by_size {
  margin-top: 60px;
  padding: .5rem 1rem; }
  #filtr_by_size h2 {
    font-family: "poppinsRegular";
    font-size: 22px;
    color: #747373;
    margin-bottom: 25px; }

/* The container */
.containerInputCeck {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  line-height: 25px; }
  @media only screen and (max-width: 805px) {
    .containerInputCeck {
      line-height: 20px; } }

/* Hide the browser's default checkbox */
.containerInputCeck input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  width: 21px;
  background-color: #f8f8f8;
  border: solid 1px #cdcdcd; }
  @media only screen and (max-width: 805px) {
    .checkmark {
      height: 18px;
      width: 18px; } }

.containerInputCeck {
  font-family: "poppinsRegular";
  font-size: 16px;
  color: #747373;
  cursor: pointer; }
  @media only screen and (max-width: 805px) {
    .containerInputCeck {
      font-size: 16px; } }

/* On mouse-over, add a grey background color */
.containerInputCeck:hover input ~ .checkmark {
  background-color: #f8f8f8;
  border-color: #2c9146; }

.containerInputCeck:hover {
  color: #2c9146; }

/* When the checkbox is checked, add a blue background */
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.containerInputCeck input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.containerInputCeck .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #2c9146;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

/*.......... All  Oils...........*/
#all_oils h2 {
  font-family: "poppinsRegular";
  font-size: 18px;
  color: #747373;
  margin-bottom: 25px;
  text-align: right;
  padding-right: 3%; }
@media only screen and (max-width: 805px) {
  #all_oils h2 {
    font-size: 18px;
    text-align: center; } }

.imgBlock_tab .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #45b115b5;
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out; }

.img-container:hover .imgBlock_tab .overlay {
  opacity: 1; }

.overlay div {
  width: 68px;
  margin-top: 55%; }
  .overlay div a {
    font-family: "kariaReguliar";
    font-size: 24px;
    color: #ffffff;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .overlay div a:nth-child(2) {
    margin-left: 9%; }
  .overlay div a:hover {
    color: #58595b; }

.overlay span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff; }

/* Style the tab */
#oilsBlock {
  grid-template-columns: auto auto auto;
  grid-column-gap: 2%;
  grid-row-gap: 150px;
  margin-top: 27px; }
  @media only screen and (max-width: 767px) {
    #oilsBlock {
      grid-template-columns: auto auto;
      grid-row-gap: 80px; } }
  @media only screen and (max-width: 805px) {
    #oilsBlock {
      grid-template-columns: auto auto;
      grid-row-gap: 190px; } }

.img-container {
  position: relative; }
  .img-container .more {
    position: relative;
    top: 30px; }

.box {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 108px;
  moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  transition: all .3s linear; }
  @media only screen and (max-width: 805px) {
    .box {
      height: 120px; } }
  .box p {
    padding: 0;
    margin: 0; }
    .box p a {
      font-family: "poppinsRegular";
      font-size: 13px;
      color: #747373;
      text-decoration: none; }
      @media only screen and (max-width: 805px) {
        .box p a {
          font-size: 12px;
          line-height: 18px; } }
  .box div {
    width: 0;
    height: 2px;
    background: #2b9100;
    moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear; }
  .box:hover p > a {
    color: #45b115b5; }
  .box:hover .text2 {
    display: block; }
  .box:hover .text1 {
    display: none; }
  .box:hover div {
    width: 80%; }

.text2 {
  display: none; }

/*...... Out backgroun IMG 1......*/
.bgCoIMG img {
  position: absolute; }
.bgCoIMG img:nth-child(1) {
  width: 15%;
  left: 0;
  top: 162%; }
  @media only screen and (max-width: 1600px) {
    .bgCoIMG img:nth-child(1) {
      width: 9%;
      top: 280%; } }
  @media only screen and (max-width: 1291px) {
    .bgCoIMG img:nth-child(1) {
      display: none; } }
.bgCoIMG img:nth-child(2) {
  width: 6%;
  top: 118px;
  right: 0; }
  @media only screen and (max-width: 1291px) {
    .bgCoIMG img:nth-child(2) {
      width: 4%; } }
  @media only screen and (max-width: 800px) {
    .bgCoIMG img:nth-child(2) {
      display: none; } }

/*.............subscribe_block....................*/
#subscribe_section {
  background: #2b9100;
  padding-top: 40px;
  padding-bottom: 50px;
  margin-top: 170px; }

#subscribe_section > div {
  max-width: 1140px;
  margin: 0 auto;
  grid-template-columns: 521px auto; }
  @media only screen and (max-width: 1211px) {
    #subscribe_section > div {
      max-width: 505px; } }
  @media only screen and (max-width: 1200px) {
    #subscribe_section > div {
      padding-bottom: 100px; } }
  @media only screen and (max-width: 520px) {
    #subscribe_section > div {
      max-width: 400px; } }
  @media only screen and (max-width: 450px) {
    #subscribe_section > div {
      max-width: 277px; } }
  @media only screen and (max-width: 1440px) {
    #subscribe_section > div {
      grid-template-columns: 524px auto; } }
  @media only screen and (max-width: 1211px) {
    #subscribe_section > div {
      grid-template-columns: auto;
      grid-row-gap: 40px; } }
  #subscribe_section > div h2 {
    font-family: "poppinsRegular";
    font-size: 21px;
    color: #ffffff;
    margin-bottom: 27px;
    font-weight: 100;
    letter-spacing: 2px; }
    @media only screen and (max-width: 1440px) {
      #subscribe_section > div h2 {
        font-size: 17px; } }
  #subscribe_section > div .socIcons {
    grid-template-columns: 30px 30px 30px 30px 30px 30px;
    grid-column-gap: 5%; }
    @media only screen and (max-width: 1440px) {
      #subscribe_section > div .socIcons {
        grid-column-gap: 5%; } }
    #subscribe_section > div .socIcons a {
      display: block;
      font-size: 25px;
      color: #ffffff;
      moz-transition: all .3s linear;
      -webkit-transition: all .3s linear;
      transition: all .3s linear; }
    #subscribe_section > div .socIcons a:hover {
      color: #58595b; }

#subscribeHover {
  position: relative; }

#yourMail {
  position: absolute;
  right: 26%;
  width: 437px;
  height: 57px;
  border-radius: .50rem;
  font-family: "poppinsRegular";
  font-size: 22px;
  color: #7c7c7c;
  padding-left: 5%;
  border: none; }
  @media only screen and (max-width: 1440px) {
    #yourMail {
      width: 57%;
      height: 45px;
      font-size: 18px;
      left: 17.9%; } }
  @media only screen and (max-width: 1200px) {
    #yourMail {
      width: 75%;
      height: 45px;
      font-size: 18px;
      left: 0; } }

#join_btn {
  width: 173px;
  height: 57px;
  border-radius: .50rem;
  position: absolute;
  right: 0%;
  -webkit-box-shadow: 0px 0px 13px 0px #1b1919;
          box-shadow: 0px 0px 13px 0px #1b1919;
  font-family: "kariaitali";
  font-size: 24.11px;
  color: #ffffff;
  background-color: #2b9100; }
  @media only screen and (max-width: 1440px) {
    #join_btn {
      width: 26%;
      height: 45px;
      font-size: 19px;
      right: 0; } }
  @media only screen and (max-width: 1200px) {
    #join_btn {
      width: 27%;
      height: 45px;
      font-size: 19px;
      right: 0%; } }

#subscribe > h2:nth-child(1) {
  text-align: right; }

/*...........F O O T E R ...............*/
footer {
  padding-top: 70px;
  background: #f7f9fb;
  /* Nav footer*/
  /*instagram footer*/ }
  footer .container {
    max-width: 1172px; }
  @media only screen and (max-width: 563px) {
    footer {
      padding-left: 5%; } }
  footer .textfooterCont {
    margin-top: 25px;
    font-family: "kariaReguliar";
    font-size: 14px;
    color: #626262;
    line-height: 30px;
    letter-spacing: 1px; }
  footer .par_1_row {
    padding-bottom: 60px; }
  footer .style_h3 {
    font-family: "kariaReguliar";
    font-size: 22px;
    color: #3f4345;
    padding: .5rem 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 0; }
  footer .nav_cotent_footer {
    grid-template-columns: auto auto auto; }
    @media only screen and (max-width: 563px) {
      footer .nav_cotent_footer {
        grid-template-columns: auto auto; } }
    footer .nav_cotent_footer ul > li > a {
      font-family: "kariaReguliar";
      font-size: 20px;
      color: #9ca9b1;
      -webkit-transition: all .3s linear;
      transition: all .3s linear;
      padding: .5rem 1rem;
      padding-left: 0.1rem; }
      footer .nav_cotent_footer ul > li > a:hover {
        color: #58595b; }
  footer #instagram_block h3:nth-child(3) {
    margin-top: 63px;
    text-align: right;
    padding: 0; }
  footer #instagram_block a:nth-child(4) {
    display: block;
    text-align: right; }
  footer .instagram_img {
    grid-template-columns: auto auto auto;
    grid-column-gap: 0.6vw;
    grid-row-gap: 1vh; }

/* botton footer part*/
#bottom_footer_block {
  background: #8b99a3;
  padding-top: 40px;
  background-color: #ffffff;
  padding-bottom: 30px; }
  #bottom_footer_block p a {
    font-family: "kariaReguliar";
    font-size: 16px;
    color: #727f88;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    text-decoration: none; }
    #bottom_footer_block p a:hover {
      color: #2c9146; }
  #bottom_footer_block p > span {
    margin: 0 2%; }

/*  bank pay carts*/
#bankCarts {
  padding-left: 8.51vw;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto; }
  #bankCarts a {
    font-family: "kariaReguliar";
    font-size: 2rem;
    color: #727f88;
    margin: 0 2%;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    display: block;
    text-align: right; }
    #bankCarts a:hover {
      color: #2b9100; }

/*# sourceMappingURL=style.css.map */