@font-face {
    font-family: kariaReguliar;
    src: url("../fonts/karia/Karla-Regular.ttf");
}

@font-face {
    font-family: kariaBold;
    src: url("../fonts/karia/Karla-Bold.ttf");
}

@font-face {
    font-family: kariaitali;
    src: url("../fonts/karia/Karla-Italic.ttf");
}

@font-face {
    font-family: poppinsSemiBold;
    src: url("../fonts/poppins/Poppins-SemiBold.otf");
}


@font-face {
    font-family: poppinsRegular;
    src: url("../fonts/poppins/Poppins-Regular.otf");
}

@font-face {
    font-family: poppinsMedium;
    src: url("../fonts/poppins/Poppins-Medium.otf");
}


@font-face {
    font-family: montserratRegular;
    src: url("../fonts/poppins/Poppins-Regular.otf");
}
