@font-face {
  font-family: kariaReguliar;
  src: url("../fonts/karia/Karla-Regular.ttf"); }
@font-face {
  font-family: kariaBold;
  src: url("../fonts/karia/Karla-Bold.ttf"); }
@font-face {
  font-family: kariaitali;
  src: url("../fonts/karia/Karla-Italic.ttf"); }
@font-face {
  font-family: poppinsSemiBold;
  src: url("../fonts/poppins/Poppins-SemiBold.otf"); }
@font-face {
  font-family: poppinsRegular;
  src: url("../fonts/poppins/Poppins-Regular.otf"); }
@font-face {
  font-family: poppinsMedium;
  src: url("../fonts/poppins/Poppins-Medium.otf"); }
/*...Fonts...*/
/*...Colors...*/
/*...sizes...*/
/*EXTEND */
.grid, .sliderItemBlock, #subscribe_section > div, #subscribe_section > div .socIcons, footer .nav_cotent_footer, footer .instagram_img {
  display: grid; }

.m_auto, #blockSlid, #blockSlid button {
  margin: 0 auto; }

.t-align, #blockSlid p {
  text-align: center; }

/*btn*/
.sameBTN {
  width: 11rem;
  height: 3.5rem; }

/*mixin*/
/*class*/
.margin_auto {
  margin: 0 auto; }

body {
  background: #f8f8f8; }
  body a {
    text-decoration: none; }
  body ul li {
    list-style: none; }

/*the class for img responsiv*/
.aac {
  width: 150%; }
  @media only screen and (max-width: 1650px) {
    .aac {
      width: 120%; } }
  @media only screen and (max-width: 1300px) {
    .aac {
      width: 100%; } }

/*The class vor text_header_name_block*/
.text_header_name_block h2 {
  font-family: "poppinsRegular";
  font-size: 24px;
  color: #262a2c;
  letter-spacing: 2px; }
  @media only screen and (max-width: 768px) {
    .text_header_name_block h2 {
      font-size: 20px; } }
.text_header_name_block .underLine_for_tex {
  margin-top: 28px;
  width: 80px;
  height: 2px;
  background-color: #2b9100;
  margin-bottom: 30px; }

.text_main_content p {
  font-family: "poppinsRegular";
  font-size: 18px;
  color: #626262;
  line-height: 40px;
  letter-spacing: 0.60px; }
  @media only screen and (max-width: 768px) {
    .text_main_content p {
      font-size: 16px;
      line-height: 25px; } }
  @media only screen and (max-width: 768px) {
    .text_main_content p {
      margin-left: 3%;
      margin-right: 3%; } }

/*class for parallax off*/
@media only screen and (max-width: 768px) {
  .parallax_off {
    display: none; } }

/*..........header............*/
* {
  margin: 0;
  padding: 0; }

/* Icon 1 */
#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  border: none;
  width: 43px;
  outline: none;
  height: 25px;
  /* margin: 50px auto;*/
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 59%;
  background: #5f5a58;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon1 span:nth-child(1) {
  top: 7px; }

#nav-icon1 span:nth-child(2) {
  top: 13px; }

#nav-icon1 span:nth-child(3) {
  top: 20px; }

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg); }

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); }

/*my styles head*/
header {
  border-bottom: solid 1px #c8c8c8; }
  header nav {
    background: #fafafa; }

#headNav {
  padding-bottom: 34px;
  padding-top: 28px;
  -webkit-transition: all 1s linear;
  transition: all 1s linear; }

#headMenu {
  margin-left: 3%;
  margin-top: 18px; }
  #headMenu li a {
    margin: 0;
    padding: 0;
    padding-left: 23px;
    padding-right: 23px;
    font-family: "kariaReguliar";
    font-size: 16px;
    color: #262a2c;
    font-weight: 400; }
  #headMenu li a:hover {
    color: #2b9100; }

#navbarNav_2 {
  width: 261px;
  position: absolute;
  right: 0; }
  @media only screen and (max-width: 991px) {
    #navbarNav_2 {
      position: inherit; } }
  #navbarNav_2 li a {
    margin: 0;
    padding: 0;
    padding-left: 23px;
    padding-right: 23px;
    font-family: "kariaReguliar";
    font-size: 16px;
    color: #262a2c;
    font-weight: 400; }
  #navbarNav_2 li a:hover {
    color: #2b9100; }

.headerIconeDiv {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: auto;
  -webkit-transition: all .3s linear;
  transition: all .3s linear; }
  .headerIconeDiv img {
    display: block;
    margin: 0 auto;
    margin-top: 30%; }
  .headerIconeDiv:hover {
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 11px -2px #686161;
            box-shadow: 0px 0px 11px -2px #686161; }

/*..............Section 1.............*/
#section_1 {
  margin-top: 140px; }

#blockSlid .logoSlider {
  min-width: 58px;
  width: 6%; }
#blockSlid img {
  display: block;
  margin: 0 auto; }
#blockSlid p {
  font-family: "poppinsMedium";
  font-size: 25px;
  color: #2b9100;
  font-size: 18px; }
#blockSlid button {
  width: 11rem;
  height: 4rem;
  cursor: pointer;
  border-radius: 45px;
  background: #2b9100;
  display: block;
  font-family: "poppinsMedium";
  font-size: 20px;
  color: #ffffff;
  outline: none;
  border: none;
  margin-top: 24px; }
#blockSlid h1 {
  text-align: center;
  font-family: "poppinsSemiBold";
  font-size: 57px;
  color: #262a2c; }
#blockSlid #h_1 {
  margin-top: 40px; }
  @media only screen and (max-width: 992px) {
    #blockSlid #h_1 {
      font-size: 40px; } }
  @media only screen and (max-width: 449px) {
    #blockSlid #h_1 {
      font-size: 30px; } }
#blockSlid #h_2 {
  font-size: 114px; }
  @media only screen and (max-width: 992px) {
    #blockSlid #h_2 {
      font-size: 80px; } }
  @media only screen and (max-width: 449px) {
    #blockSlid #h_2 {
      font-size: 50px; } }

/* ............... parallax 1  part 1 and 2  in section 1...........*/
#parralax_1 {
  position: relative; }
  #parralax_1 img {
    position: absolute; }
  #parralax_1 img:nth-child(1) {
    top: -183px;
    right: 8%; }
  #parralax_1 img:nth-child(2) {
    left: 6%;
    top: 71px; }

/*"top_slid_main*/
/*#top_slid_main{
  position: relative;

  #bnuttons_topSlider{
    position: absolute;
    top: 70px;
    right: 0;

    @media only screen and (max-width: 991px) {
      right: -4%;
    }

    @media only screen and (max-width: 576px) {
     
      grid-template-columns: 23px 23px 23px 23px;
      grid-column-gap: 5%;
      top: 180%;
      left: 37%;
     }

   

    @extend .grid;
    grid-template-columns: auto;
    grid-row-gap: 13px;
  }
}*/
.top_slid_text_content {
  -webkit-animation: animationFramesW linear 1s;
          animation: animationFramesW linear 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%; }

@-webkit-keyframes animationFramesW {
  0% {
    opacity: 0;
    -webkit-transform: translate(-49px, 0px);
            transform: translate(-49px, 0px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); } }

@keyframes animationFramesW {
  0% {
    opacity: 0;
    -webkit-transform: translate(-49px, 0px);
            transform: translate(-49px, 0px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); } }
/*...... Out backgroun IMG 1......*/
.bgCoIMG img {
  position: absolute; }
.bgCoIMG img:nth-child(1) {
  width: 21%;
  left: 0;
  top: 150px; }
  @media only screen and (max-width: 991px) {
    .bgCoIMG img:nth-child(1) {
      width: 17%; } }
.bgCoIMG img:nth-child(2) {
  width: 9%;
  top: 80px;
  right: 0; }
  @media only screen and (max-width: 991px) {
    .bgCoIMG img:nth-child(2) {
      width: 6%; } }

/*..............section_2.............*/
#section_2 {
  margin-top: 400px; }

/*.............Section 3................*/
#section_3 {
  margin-top: 180px; }
  @media only screen and (max-width: 768px) {
    #section_3 .row > div {
      margin-bottom: 70px; } }
  @media only screen and (max-width: 576px) {
    #section_3 .row > div {
      margin-bottom: 70px;
      margin-left: 3%;
      margin-right: 3%; } }
  #section_3 .text_main_content_1 p:nth-child(2) {
    margin-top: 60px; }
  #section_3 .section3_text_header_name_block img {
    margin-bottom: 18px; }
  #section_3 #BTN_section_3 {
    width: 244px;
    height: 54px;
    display: block;
    margin: 0 auto;
    font-family: "kariaReguliar";
    font-size: 22px;
    color: #ffffff;
    margin-top: 16px; }

/*...............Parallax 2.........*/
#parallax_2 {
  width: 100%; }
  #parallax_2 img {
    margin-left: 88%;
    margin-top: -40px; }
    @media only screen and (max-width: 1300px) {
      #parallax_2 img {
        margin-left: 74%; } }

/*.............. Section 4................*/
#section_4 {
  margin-top: 150px; }
  #section_4 .section4_text_header_name_block {
    padding-top: 70px; }
    #section_4 .section4_text_header_name_block p {
      font-family: "poppinsRegular";
      font-size: 16px;
      color: #2c9146;
      letter-spacing: 0.4px; }
  #section_4 #BTN_section_4 {
    width: 244px;
    height: 54px;
    font-family: "kariaReguliar";
    font-size: 22px;
    color: #ffffff;
    margin-top: 16px; }
  @media only screen and (max-width: 768px) {
    #section_4 img {
      margin-top: 70px; } }
  @media only screen and (max-width: 768px) {
    #section_4 {
      margin-top: 70px; } }

/*............Parallax 3 .................*/
#parallax_3 {
  width: 100%;
  position: relative; }
  #parallax_3 img {
    position: absolute; }
  #parallax_3 img:nth-child(1) {
    left: 0%;
    top: 60px; }
  #parallax_3 img:nth-child(2) {
    right: -4%;
    top: 88px; }
    @media only screen and (max-width: 1300px) {
      #parallax_3 img:nth-child(2) {
        right: 14%; } }

/*...............section 5...............*/
#section_5 {
  margin-top: 232px; }
  #section_5 .section5_text_header_name_block {
    width: 100%;
    padding-top: 22px; }
    #section_5 .section5_text_header_name_block p {
      font-family: "poppinsRegular";
      font-size: 16px;
      color: #2c9146;
      letter-spacing: 0.4px;
      text-align: center; }
    #section_5 .section5_text_header_name_block h2 {
      font-size: 24px;
      text-align: center; }
    #section_5 .section5_text_header_name_block .underLine_for_tex {
      margin-left: auto;
      margin-right: auto; }

#slider_section_5 {
  width: 98%;
  margin: 0 auto;
  margin-top: 70px; }

.sliderItemBlock {
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5%; }
  .sliderItemBlock div img {
    width: 100%; }
  .sliderItemBlock div h2 {
    font-family: "poppinsRegular";
    font-size: 30px;
    color: #262a2c;
    margin-top: 40px; }
    @media only screen and (max-width: 1600px) {
      .sliderItemBlock div h2 {
        font-size: 20px; } }
    @media only screen and (max-width: 576px) {
      .sliderItemBlock div h2 {
        margin-top: 20px;
        font-size: 16px; } }
    @media only screen and (max-width: 460px) {
      .sliderItemBlock div h2 {
        font-size: 14px; } }
  .sliderItemBlock div p {
    font-family: "poppinsRegular";
    font-size: 18px;
    color: #aaaaaa; }
    .sliderItemBlock div p span {
      color: #262a2c; }
    @media only screen and (max-width: 1600px) {
      .sliderItemBlock div p {
        font-size: 13px; } }
    @media only screen and (max-width: 576px) {
      .sliderItemBlock div p {
        font-size: 11px; } }

.sliderBTN {
  border-radius: 50%;
  moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  position: absolute;
  top: 34%; }
  @media only screen and (max-width: 1450px) {
    .sliderBTN {
      width: 60px; } }
  @media only screen and (max-width: 576px) {
    .sliderBTN {
      width: 30px; } }

.sliderBTN:hover {
  -webkit-box-shadow: 0px 0px 22px 0px #625e5e;
          box-shadow: 0px 0px 22px 0px #625e5e; }

.sliderBTN_left {
  left: -60%; }
  @media only screen and (max-width: 1350px) {
    .sliderBTN_left {
      left: 0; } }

.sliderBTN_right {
  right: -60%; }
  @media only screen and (max-width: 1350px) {
    .sliderBTN_right {
      right: 0; } }

/*.............subscribe_block....................*/
#subscribe_section {
  background: #2b9100;
  padding-top: 40px;
  padding-bottom: 50px;
  margin-top: 170px; }

#subscribe_section > div {
  max-width: 1140px;
  margin: 0 auto;
  grid-template-columns: 521px auto; }
  @media only screen and (max-width: 1211px) {
    #subscribe_section > div {
      max-width: 505px; } }
  @media only screen and (max-width: 1200px) {
    #subscribe_section > div {
      padding-bottom: 100px; } }
  @media only screen and (max-width: 520px) {
    #subscribe_section > div {
      max-width: 400px; } }
  @media only screen and (max-width: 450px) {
    #subscribe_section > div {
      max-width: 277px; } }
  @media only screen and (max-width: 1440px) {
    #subscribe_section > div {
      grid-template-columns: 524px auto; } }
  @media only screen and (max-width: 1211px) {
    #subscribe_section > div {
      grid-template-columns: auto;
      grid-row-gap: 40px; } }
  #subscribe_section > div h2 {
    font-family: "poppinsRegular";
    font-size: 21px;
    color: #ffffff;
    margin-bottom: 27px;
    font-weight: 100;
    letter-spacing: 2px; }
    @media only screen and (max-width: 1440px) {
      #subscribe_section > div h2 {
        font-size: 17px; } }
  #subscribe_section > div .socIcons {
    grid-template-columns: 30px 30px 30px 30px 30px 30px;
    grid-column-gap: 5%; }
    @media only screen and (max-width: 1440px) {
      #subscribe_section > div .socIcons {
        grid-column-gap: 5%; } }
    #subscribe_section > div .socIcons a {
      display: block;
      font-size: 25px;
      color: #ffffff;
      moz-transition: all .3s linear;
      -webkit-transition: all .3s linear;
      transition: all .3s linear; }
    #subscribe_section > div .socIcons a:hover {
      color: #58595b; }

#subscribeHover {
  position: relative; }

#yourMail {
  position: absolute;
  right: 26%;
  width: 437px;
  height: 57px;
  border-radius: .50rem;
  font-family: "poppinsRegular";
  font-size: 22px;
  color: #7c7c7c;
  padding-left: 5%;
  border: none; }
  @media only screen and (max-width: 1440px) {
    #yourMail {
      width: 57%;
      height: 45px;
      font-size: 18px;
      left: 17.9%; } }
  @media only screen and (max-width: 1200px) {
    #yourMail {
      width: 75%;
      height: 45px;
      font-size: 18px;
      left: 0; } }

#join_btn {
  width: 173px;
  height: 57px;
  border-radius: .50rem;
  position: absolute;
  right: 0%;
  -webkit-box-shadow: 0px 0px 13px 0px #1b1919;
          box-shadow: 0px 0px 13px 0px #1b1919;
  font-family: "kariaitali";
  font-size: 24.11px;
  color: #ffffff;
  background-color: #2b9100; }
  @media only screen and (max-width: 1440px) {
    #join_btn {
      width: 26%;
      height: 45px;
      font-size: 19px;
      right: 0; } }
  @media only screen and (max-width: 1200px) {
    #join_btn {
      width: 27%;
      height: 45px;
      font-size: 19px;
      right: 0%; } }

#subscribe > h2:nth-child(1) {
  text-align: right; }

/*...........F O O T E R ...............*/
footer {
  padding-top: 70px;
  background: #f7f9fb;
  /* Nav footer*/
  /*instagram footer*/ }
  footer .container {
    max-width: 1172px; }
  @media only screen and (max-width: 563px) {
    footer {
      padding-left: 5%; } }
  footer .textfooterCont {
    margin-top: 25px;
    font-family: "kariaReguliar";
    font-size: 14px;
    color: #626262;
    line-height: 30px;
    letter-spacing: 1px; }
  footer .par_1_row {
    padding-bottom: 60px; }
  footer .style_h3 {
    font-family: "kariaReguliar";
    font-size: 22px;
    color: #3f4345;
    padding: .5rem 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 0; }
  footer .nav_cotent_footer {
    grid-template-columns: auto auto auto; }
    @media only screen and (max-width: 563px) {
      footer .nav_cotent_footer {
        grid-template-columns: auto auto; } }
    footer .nav_cotent_footer ul > li > a {
      font-family: "kariaReguliar";
      font-size: 20px;
      color: #9ca9b1;
      -webkit-transition: all .3s linear;
      transition: all .3s linear;
      padding: .5rem 1rem;
      padding-left: 0.1rem; }
      footer .nav_cotent_footer ul > li > a:hover {
        color: #58595b; }
  footer #instagram_block h3:nth-child(3) {
    margin-top: 63px;
    text-align: right;
    padding: 0; }
  footer #instagram_block a:nth-child(4) {
    display: block;
    text-align: right; }
  footer .instagram_img {
    grid-template-columns: auto auto auto;
    grid-column-gap: 0.6vw;
    grid-row-gap: 1vh; }

/* botton footer part*/
#bottom_footer_block {
  background: #8b99a3;
  padding-top: 40px;
  background-color: #ffffff;
  padding-bottom: 30px; }
  #bottom_footer_block p a {
    font-family: "kariaReguliar";
    font-size: 16px;
    color: #727f88;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    text-decoration: none; }
    #bottom_footer_block p a:hover {
      color: #2c9146; }
  #bottom_footer_block p > span {
    margin: 0 2%; }

/*  bank pay carts*/
#bankCarts {
  padding-left: 8.51vw;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto; }
  #bankCarts a {
    font-family: "kariaReguliar";
    font-size: 2rem;
    color: #727f88;
    margin: 0 2%;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    display: block;
    text-align: right; }
    #bankCarts a:hover {
      color: #2b9100; }

/*# sourceMappingURL=style.css.map */